import React from 'react'

// tslint:disable-next-line: no-empty-interface
interface IProps {}

const {{ properCase name }}: React.FunctionComponent<IProps> = (props) => {
  return (
    <div>
      {props.children}
    </div>
  )
}

export { {{ properCase name }} }
