@import 'nib/reset'
@import 'nib/normalize'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');

:root
  --shark #232323
  --dust #636363
  --sand #c7c7c7
  --background #f8f8f8
  --roboto 'Roboto', sans-serif
  --light 300
  --regular 400
  --medium 500
  --bold 900

$media-xs-phone = 480px
$media-phone = 600px
$media-tablet = 900px
$media-laptop = 1200px
$media-desktop = 1800px

rupture.enable-em-breakpoints = true
rupture.scale = 0 600px 900px 1200px 1800px
rupture.scale-name = 'phone' 'tablet' 'laptop' 'desktop'

// *
//   background-color rgba(0, 0, 0, .05)

html
  font-size 62.5%
  font-family var(--roboto)
  font-weight var(--regular)

body
  margin 0
  height 100%
  position relative
  background-color rgba(0, 0, 0, .05)

main
  height 100vh
  display flex
  justify-content center
  padding 0 1.5rem

article
  max-width 144rem

h1
  font-size 3rem

p
  font-size 2rem
