{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@constants": [
            "./app/base/constants/index.ts"
          ],
          "@helpers": [
            "./app/base/helpers/index.ts"
          ],
          "@enums": [
            "./app/base/enums/index.ts"
          ],
          "@utils": [
            "./app/utils/index.ts"
          ],
          "@hoc": [
            "./app/hoc/index.ts"
          ],
          "@generic": [
            "./app/generic/index.ts"
          ],
          "@features": [
            "./app/features/index.ts"
          ],
          "@components": [
            "./app/components/index.ts"
          ],
          "@containers": [
            "./app/containers/index.ts"
          ],
          "@interfaces/*": [
            "./app/base/interfaces/*"
          ]
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
